<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration核心配置文件-->
<configuration>
    <!--引入外部的配置文件-->
    <!--由于配置文件在resources资源目录下,故文件路径不需要写全路径-->
    <properties resource="db.properties">
    </properties>

    <!--可以给实体类起别名 标签顺序是有要求的-->
    <typeAliases>
        <!--通过扫描实体类所在的包,它的默认别名 就为 这个类的类名的小写-->
        <!--这里的包下的类是User, 则默认别名为:user-->
        <package name="com.carson.pojo" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!--事务管理是JDBC-->
            <dataSource type="POOLED">
                <!--value值直接读取配置文件  ${变量名}的方式-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!--可以配置多套环境-->
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true"/>
            </dataSource>
        </environment>
    </environments>
    <!--每一个Mapper.xml都需要在mybatis的核心配置文件中注册-->
    <mappers>
        <!--路径要用/进行分割-->
        <!--<mapper resource="com/carson/dao/UserMapper.xml"/>-->
        <!--<mapper class="com.carson.dao.UserMapper"/>-->
        <package name="com.carson.dao"/>
    </mappers>

</configuration>